.bubble {
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    line-height: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}