.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1.2rem 20px;
  background: linear-gradient(to bottom, #1ca2d6, #cceb84);
  margin-bottom: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

}

.logo h1 {
  color: #333;
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  background: linear-gradient(90deg, #ff4e50, #f9d423);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoLink {
  text-decoration: none;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navLinks li a {
  text-decoration: none;
  color: #eee;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #007bff;
}


.actions {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.cartButton {
  background: transparent;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

/* .cartButton:hover {
  background-color: #0056b3;
} */


.bubble {
  position: relative;
  left: 12;
  top: 20;
}

.bubbleAlert {
  background-color: #E9725A;
  border-radius: 15px;
  color: #fff;
  padding: 2px 10px;
  font-size: 0.9rem;
  width: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1rem;
  }

  .navLinks {
    gap: 1rem;
  }

  .logo h1 {
    font-size: 1.5rem;
  }
}