* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #4CAF50;
    --secondary: #FFEB3B;
    --accent: #FF9800;
    --background: #FAFAFA;
    --text-main: #212121;
    --text-muted: #757575;
}

body {
    max-width: 100%;
    margin: 0 auto;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}